@charset "utf-8";

// Define defaults for each variable.

$header-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font: 'Gentium Book Basic', serif;

$link-color: rgb(0, 0, 238);

// Import partials.
@import "base", "syntax-highlighting";
